# pandas

Pandas: The Workhorse of Machine Learning in Python

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series(np.random.randint(0,7, size=10))
s

0    2
1    6
2    3
3    0
4    4
5    4
6    4
7    0
8    5
9    6
dtype: int32

In [3]:
s.value_counts()

4    3
6    2
0    2
2    1
3    1
5    1
Name: count, dtype: int64

In [4]:
s = pd.Series(['A','B','C',"Aaba",'Baca', np.nan, 'CABA', 'dog','cat'])
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

In [5]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  1.359585 -0.487563  0.597817  0.065658
1  1.327171 -0.562087 -1.888444  2.061908
2 -0.604785  1.264862  0.750499 -0.825926
3 -2.053549 -0.572234 -0.052590  1.397164
4 -0.737200 -0.243824  1.036136 -0.440358
5 -0.229530 -2.267340  0.106561  0.405429
6 -1.156856  1.017661  1.175558 -0.562271
7 -0.328171  0.242765  0.318770  0.027222
8  0.163236  0.188508  0.828176 -0.618293
9 -0.461833  0.279304  1.402534  0.461282

In [6]:
pieces = [df[:3],df[3:7],df[7:]]
pd.concat(pieces)

          0         1         2         3
0  1.359585 -0.487563  0.597817  0.065658
1  1.327171 -0.562087 -1.888444  2.061908
2 -0.604785  1.264862  0.750499 -0.825926
3 -2.053549 -0.572234 -0.052590  1.397164
4 -0.737200 -0.243824  1.036136 -0.440358
5 -0.229530 -2.267340  0.106561  0.405429
6 -1.156856  1.017661  1.175558 -0.562271
7 -0.328171  0.242765  0.318770  0.027222
8  0.163236  0.188508  0.828176 -0.618293
9 -0.461833  0.279304  1.402534  0.461282

In [7]:
left = pd.DataFrame({'key': ['foo','foo'], 'lval':[1,2]})
right = pd.DataFrame({'key': ['foo','foo'], 'rval':[4,5]})
left

   key  lval
0  foo     1
1  foo     2

In [8]:
pd.merge(left, right, on='key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5