# pandas random practice

In [1]:
import pandas as pd


students = [[1,2,3],[1,2,3],[1,2,3]]

In [2]:
students

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [4]:
pd.DataFrame(students, columns=['A','B','C'])

   A  B  C
0  1  2  3
1  1  2  3
2  1  2  3

In [5]:
df = pd.DataFrame(students, columns=['A','B','C'])
len(df)

3

In [6]:
df.shape

(3, 3)

In [7]:
nums = [2,7,11,15]

In [10]:
for i in range(len(nums) - 1):
    for j in 
    print(nums[i]+nums[i + 1])

9
18
26